@import 'base';

.filter-view {
  font-family: $font-family-text;

  .filter-section {
    @include rem(margin, 10px 0px);
    border: 1px solid black;

    .filter-header {
      @include rem(margin, 8px 0px 4px 5px);
    }

    .filter-list {
      .filter-list-item {
        @include rem(padding, 8px 10px);
        @include rem(margin, 6px);
        @include rem(border-radius, 3px);
        display: inline-block;
        border: 1px solid black;
      }
    }
  }
}
