@import 'base';

.filter-view {
  font-family: $font-family-text;

  .filter-list {
    .filter-list-item {
      @include rem(padding, 8px 10px);
      @include rem(margin, 5px 5px 0px 0px);
      @include rem(border-radius, 3px);
      display: inline-block;
      border: 1px solid black;
    }
  }
}
