@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import 'mixins';

// Sizes
@include font-size-small:       12px;
@include font-size-regular:     16px;
@include font-size-large:       24px;
@include font-size-x-large:     32px;
@include font-size-xx-large:    48px;
@include font-size-xxx-large:   64px;
@include font-size-xxxx-large:  96px;

// Weights
$font-weight-regular:           400;
$font-weight-bold:              700;

// Styles
$font-family-text: Bitter, sans-serif;
